<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <property name="log.charset" value="UTF-8"/>
    <property name="log.path" value="/apps/logs/log_receiver"/>
    <property name="log.pattern" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%level] [%thread] [%logger{50}] >>> %msg%n"/>
    <property resource="logback.properties"/>


    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="${log.charset}">
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder charset="${log.charset}">
            <pattern>${log.pattern}</pattern>
        </encoder>
        <file>${log.path}/lattice.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/lattice.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>60</maxHistory>
        </rollingPolicy>
    </appender>


    <appender name="Async" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="RollingFile"/>
        <discardingThreshold>0</discardingThreshold>
        <queueSize>1024</queueSize>
    </appender>


    <root level="INFO">
        <appender-ref ref="Async"/>
        <appender-ref ref="Console"/>
    </root>
</configuration>